@import './scss/themes/colors';
@import './scss/layout/header';
@import './scss/utils/mixins';
@import './scss/components/buttons';
@import './scss/layout/main';
@import './scss/layout/footer';
@import './scss/pages/home';

html,body{
  // background-color: #afd9e9 !important;
  background-color: rgba(224, 234, 242, 1) !important;
  height :100%
}
#productGrid .product-card {
    flex: 1 1 200px; /* Allows each card to grow and shrink */
    max-width: 220px; /* Sets a max width for larger screens */
  }
