@import './scss/themes/colors';
@import './scss/layout/header';
@import './scss/utils/mixins';
@import './scss/components/buttons';
@import './scss/layout/main';
@import './scss/layout/footer';
@import './scss/pages/home';
@import './scss/pages/shopnow';

html,body{
  background-color: rgba(224, 234, 242, 1) !important;
  height :100%
}
#productGrid .product-card {
    flex: 1 1 200px; /* Allows each card to grow and shrink */
    max-width: 220px; /* Sets a max width for larger screens */
  }
  .main {
    margin-left: 15px !important;
    margin-right: 15px !important;
  
  }
  
  @media (min-width: 1024px) {
    .main {
      margin-left: 5rem !important;
      margin-right: 5rem !important;
    }
  }
  @media (min-width: 768px) {
    .main {
      margin-left: 3rem !important;
      margin-right: 3rem !important;
    }
  }
  .checkout-form {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  
  /* Medium screens (768px and up): Increase margin to 5rem */
  @media (min-width: 768px) {
    .checkout-form {
      margin-left: 5rem !important;
      margin-right: 5rem !important;
    }
  }
