.header .nav .nav-item .nav-link {
  color: #203f50;
  font-size: 14px;
  font-weight: 500;
}
.header .button {
  background-color: #426578;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .button span {
  font-size: 0.7rem;
  padding: 2px 4px;
  top: 8px;
  left: 91%;
}
.header .button2 {
  background-color: #426578;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header .button2 span {
  font-size: 0.7rem;
  padding: 2px 4px;
  top: 8px;
  left: 91%;
}

.main-text p {
  font-size: 14px;
  color: #203f50;
  font-weight: 500;
}
.main-text h2 {
  font-size: 40px;
  color: #203f50;
  font-weight: 700;
}
.main-text h6 {
  font-size: 18px;
  color: #203f50;
  font-weight: 300;
}
.main-text .categories {
  /* For small screens (up to 576px), make the product card take full width */
}
.main-text .categories h4 {
  font-size: 30px;
  color: #203f50;
  font-weight: 700;
}
.main-text .categories .containers, .main-text .categories .container2 {
  background-color: #f2f7fa;
}
.main-text .categories .button3 {
  background-color: #426578;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: transparent;
  color: #1c2227;
  border: 1px solid #7C71DF;
  border: 1px solid #686A74;
}
.main-text .categories .button3 span {
  font-size: 0.7rem;
  padding: 2px 4px;
  top: 8px;
  left: 91%;
}
.main-text .categories .container2 {
  padding-top: 40px;
  padding-bottom: 30px;
}
.main-text .categories .button4 {
  background-color: #426578;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #686A74;
}
.main-text .categories .button4 span {
  font-size: 0.7rem;
  padding: 2px 4px;
  top: 8px;
  left: 91%;
}
.main-text .categories .button5 {
  background-color: #F8F7FB;
}
.main-text .categories .button5:hover {
  background-color: #426578;
  color: white;
}
.main-text .categories #productGrid .product-card {
  flex: 1 1 200px;
  max-width: 250px;
}
@media (max-width: 576px) {
  .main-text .categories #productGrid .product-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.main-text .categories .accordion {
  background-color: transparent !important;
}
.main-text .categories .accordion .accordion-item {
  background-color: transparent !important;
}

.footer {
  background-color: #101010;
}
.footer .breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

header {
  height: 20% !important;
}

main {
  height: 80% !important;
}
main .main-text .headline {
  font-size: 30px;
  color: #203f50;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 475px) {
  main .main-text .headline {
    font-size: 24px;
    color: #203f50;
    font-weight: 600;
    line-height: 1.2;
  }
}
main .main-text p {
  font-size: 18px;
  color: #203f50;
  font-weight: 400;
}
main .main-text .form-control {
  background-color: #edf3f7;
}
main .main-text .input-group .btn {
  background-color: #426578;
}
main .main-text h6 {
  font-size: 18px;
  color: #203f50;
  font-weight: 600;
}
main .main-text .overlay-box {
  background-color: #bee5f0;
  top: 5.5rem;
}
main .main-text .overlay-box2 {
  background-color: #bee5f0;
  top: 44%;
}

html, body {
  background-color: rgb(224, 234, 242) !important;
  height: 100%;
}

#productGrid .product-card {
  flex: 1 1 200px; /* Allows each card to grow and shrink */
  max-width: 220px; /* Sets a max width for larger screens */
}

.main {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

@media (min-width: 768px) {
  .main {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
  }
}/*# sourceMappingURL=main.css.map */