@mixin fs-fw($size: 18px,$fw:300) {
  font-size: $size;
  font-weight:$fw;
 }
@mixin fs-color-fw($size:18px,$colorr:#000000,$fw:300){
  font-size:$size;
  color:$colorr;
  font-weight: $fw;
}
@mixin fs-color-fw-lheight($size:18px,$colorr:#000000,$fw:300,$lh:1.5){
  font-size:$size;
  color:$colorr;
  font-weight: $fw;
  line-height: $lh;
}
 @mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin padding-categories($padding-t:20px,$padding-b:20px){
  padding-top:$padding-t;
  padding-bottom: $padding-b;
}
@mixin input-padding($padding-t:2rem,$padding-b:2rem,$padding-l:2rem,$padding-r:2rem,)
{
  padding-left: $padding-l;
  padding-right: $padding-r;
  padding-top: $padding-t;
  padding-bottom: $padding-b;
}
@mixin color-pallte($widthh: 40px, $heightt: 40px, $background-colorr: #a9a9a9, $cursorr: pointer){
  width: $widthh;
  height: $heightt;
  background-color: $background-colorr;
  cursor: $cursorr;
}