@import '../themes/colors';
@import '../utils/mixins';
@import '../components/buttons';

.header{
.nav{
    .nav-item{
        .nav-link{
            color:$nav-text;
            @include fs-fw($size:14px,$fw:500);
        }
       
    }
}
.button{
    @include button;
}
.button2{
    @include button2;
}
.offcanvas{
    --bs-offcanvas-width: 600px;
    background-color: rgba(224, 234, 242, 1) !important;
    .form-control{
        @include  input-padding($padding-t:1.375rem,$padding-b:1.375rem,$padding-l:0.75rem,$padding-r:0.75rem,)
    }
}
}