@import '../themes/colors';
@import '../utils/mixins';
@import '../components/buttons';

.main-text{
    p{
        @include fs-color-fw($size:14px,$colorr:$nav-text,$fw:500);
    }
    h2{
        @include fs-color-fw($size:40px,$colorr:$nav-text,$fw:700);
    }
  h6{
    @include fs-color-fw($size:18px,$colorr:$nav-text,$fw:300);
  }
  .categories{
        h4{
            @include fs-color-fw($size:30px,$colorr:$nav-text,$fw:700);
        }
        .containers{
            background-color: $containers-bg;
        }
        .button3{
            @include button3;
            border:1px solid $shopnow-btn;
        }
        .container2{
            @extend .containers;
            @include padding-categories($padding-t:40px,$padding-b:30px)
        }
        .button4{
            @include button4;
            border:1px solid $shopnow-btn;
        }
        .button5{
         background-color: $cart-bg;
         &:hover{
            background-color: $button-background;
            color:white;
         }
        }
        #productGrid .product-card {
            flex: 1 1 200px;
            max-width: 250px;
        }
        
        /* For small screens (up to 576px), make the product card take full width */
        @media (max-width: 576px) {
            #productGrid .product-card {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
        .accordion {
            background-color: transparent !important; 
            .accordion-item {
              background-color: transparent !important; 
            }
          }
  }
}