@import '../themes/colors';
@import '../utils/mixins';
@import '../components/buttons';

.main-text{
    p{
        @include fs-color-fw($size:14px,$colorr:$nav-text,$fw:500);
    }
    h2{
 //large screens
@include fs-color-fw($size: 40px, $colorr: $nav-text, $fw: 700);
//small screens
@media (max-width: 767.98px) {
  @include fs-color-fw($size: 20px, $colorr: $nav-text, $fw: 700);
}
    }
  h6{
  
     @include fs-color-fw($size:14px,$colorr:$nav-text,$fw:300);
@media (min-width: 767.98px) {
    @include fs-color-fw($size:18px,$colorr:$nav-text,$fw:300);
}
  }
  .categories{
        h4{
         
            @include fs-color-fw($size:20px,$colorr:$nav-text,$fw:700);
            @media (min-width: 767.98px) {
                @include fs-color-fw($size:30px,$colorr:$nav-text,$fw:700);
            }
        }
        .containers{
            background-color: $containers-bg;
        }
        .button3{
            @include button3;
            border:1px solid $shopnow-btn;
        }
        .container2{
            @extend .containers;
            @include padding-categories($padding-t:40px,$padding-b:30px)
        }
        .button4{
            @include button4;
            border:1px solid $shopnow-btn;
        }
        .button5{
         background-color: $cart-bg;
         &:hover{
            background-color: $button-background;
            color:white;
         }
        }
        #productGrid .product-card {
            flex: 1 1 200px;
            max-width: 250px;
        }
        
        /* For small screens (up to 576px), make the product card take full width */
        @media (max-width: 576px) {
            #productGrid .product-card {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
  }

.custom-modal-bg {
    background: rgb(242, 247, 250,0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blurred effect */

  }
  .custom-width {
    width: auto; /* Allows modal width to adjust based on content */
    max-width: 100%; /* Default: takes full width on small screens */
    
    /* Apply max-width only for larger screens */
    @media (min-width: 992px) {  /* Bootstrap's breakpoint for large screens (lg) */
      max-width: 70vw;
    }
  }
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Adjust the opacity/color as needed */
    backdrop-filter: none !important; /* Disable any blur effect */
}
#accordion-item-four .accordion-button {
    color: white !important;
  }

  #accordion-item-four .accordion-button:not(.collapsed) {
    color: $nav-text !important; /* Bootstrap's primary blue color */
  }
.accordion-body-text{
    @include fs-color-fw($size:15px,$colorr:$nav-text,$fw:500);
}
  #accordion-button-one::after {
    display: none !important;
  }
  .accordion {
    background-color: transparent !important; 
    .accordion-item {
      background-color: transparent !important; 
    }
  }
  .custom-btn-wdth{
    width: 8.79rem !important;
  }
  .rounded-right {
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}
}