@import '../themes/colors';
@import '../utils/mixins';


@mixin button {
    background-color:  $button-background;
    color:white;
    cursor: pointer;
    @include center-flex;
    span {
        font-size: 0.7rem;
        padding: 2px 4px;
        top: 8px;
        left: 91%;
    }
}

@mixin button2 {
    @include button;
    color: $white-bg;
}
@mixin button4 {
    @include button;
}
@mixin button3{
    @include button2;
    background-color: transparent;
    color:$black;
    border:1px solid $get-startedbg;
}