
$primary_color: blue;
$nav-text:#203f50;
$cart-bg:#F8F7FB;
$get-startedbg:#7C71DF;
$white-bg:white;
$black:#1c2227;
$shopnow-btn:#686A74;
$footer-bg:#101010;

$button-background:#426578;
$containers-bg:#f2f7fa;
$inputbg:#edf3f7;
$button-bg:#bee5f0;
